<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static  'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    {% block css %} {% endblock %}
    <script src="{% static 'js/ajax.js' %}"></script>
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %} {% endblock %}
    
    <!-- Js to messages disappear -->
    <script>
        setTimeout(function() {
            document.querySelectorAll('.container-messages').forEach(function(message) {
                message.style.display = 'none';
            });
        }, 2000); 
    </script>
    {% block js %}{% endblock %}
</body>
</html>