{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}
{% block content %}
    <div class="container-page">
        <div class="container-messages">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        
        <div class="container-forms">
            <form action="{% url 'signup' %}" method="post">
                {% csrf_token %}
                <div class="form-inputs-labels">
                    <label for="name">Name</label>
                    <input type="text" name="name">
                    {% if form.errors.name %}
                    <ul class="container-form-errors">
                        {% for error in form.errors.name %}
                            <li class="form-error">
                                {{error}}
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-inputs-labels">
                    <label for="email">Email</label>
                    <input type="email" name="email">
                    {% if form.errors.email %}
                    <ul class="container-form-errors">
                        {% for error in form.errors.email %}
                            <li class="form-error">
                                {{error}}
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-inputs-labels">
                    <label for="cpf">CPF</label>
                    <input type="text" name="cpf">
                    {% if form.errors.cpf %}
                    <ul class="container-form-errors">
                        {% for error in form.errors.cpf %}
                            <li class="form-error">
                                {{error}}
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-inputs-labels">
                    <label for="password">Password</label>
                    <input type="password" name="password">
                    {% if form.errors.password %}
                    <ul class="container-form-errors">
                        {% for error in form.errors.password %}
                            <li class="form-error">
                                {{error}}
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <button type="submit">Submit</button>
                <p>Already have a account? <a class="a-forms" href="{% url 'signin' %}">Login Here</a></p>
            </form>
        </div>
    </div>
{% endblock %}