{% extends 'base.html' %}
{% load static %}
{% block title %} TodoPainel {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/todopainel.css' %}">
{% endblock %}
{% block content %}
    <div class="container-sub-navbar">
        <nav class="sub-navbar">
            <a href="{% url 'sorted_tasks' %}?direction=ascending">Order by Ascending</a>
            <a href="{% url 'sorted_tasks' %}?direction=descending">Order by Descending</a>
            <a href="{% url 'category_filter' %}">Order By Category</a>
            <a href="{% url 'order_by_date' %}">Order by Created Date</a>
        </nav>
    </div>
    <h1>Your Tasks</h1>
    <div class="container-tasks">
        {% if tasks %}
            <ul>
            <div class="tasks-infos">
                {% for task in tasks %}
                    <li>Task Name: {{task.task_name}}</li>
                    <li>Category: {{task.category}}</li>
                    <li>Created at: {{task.created_at}}</li>
                    
                    {% if task.status == 'Pending' %}
                    <li class="status-pending">
                        <i>Pending</i>
                    </li>
                    {% else %}
                    <li class="status-completed">
                        {{task.status}}
                    </li>
                    {% endif %}
                    <a href="{% url 'finish_task' task.id %}"><svg class="check" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512"><path d="M22.319,4.431,8.5,18.249a1,1,0,0,1-1.417,0L1.739,12.9a1,1,0,0,0-1.417,0h0a1,1,0,0,0,0,1.417l5.346,5.345a3.008,3.008,0,0,0,4.25,0L23.736,5.847a1,1,0,0,0,0-1.416h0A1,1,0,0,0,22.319,4.431Z"/></svg></a>
                    <hr>
                {% endfor %}
            </div>
            </ul>
        {% else %}
            <li>No tasks Found</li>
        {% endif %}
    </div>
{% endblock %}
