* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.4;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}

header {
  display: flex;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(32, 32, 32);
  border: solid 1px rgba(0, 0, 0, 0.70);
  box-shadow: 0 0 0.8rem 0.4rem rgba(0, 0, 0, 0.24);
  position: sticky;
  z-index: 1;
}

h1 {
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
    color: azure;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 1rem;
    width: 80%;
    margin: 0 auto;
}

.container-links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}
.a-title {
  text-decoration:none;
}
.container-links a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
    font-size: 2rem;
    padding: 0 .5rem;
    border-radius: 0.5rem;
}
 
.container-links a:hover{
    color: rgb(24, 200, 118);
}
