
.container-messages {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  min-width: 30rem;
  width: 50%;
  background-color: transparent;
  position: absolute;
  right: 20%;
  z-index: 2;
}

.message {
  transition: opacity 0.5s ease;
}

.success, .error {
  padding: 1rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1;
}

.success{
  color: rgb(27, 225, 86) !important;
}

.error {
  color: rgb(230, 159, 17) !important;

}

.container-forms {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  margin: 1rem;
  width: 80%;
}

.form-2 {
  gap: 2rem;
}

.form-2-links a {
  padding: .5rem 1rem;
  width: max-content;
  color: whitesmoke;
  border: 1px solid white;
  background-color: transparent;
  font-size: 1.4rem;
  font-weight: 300;
  border-radius: 0.5rem;
  text-decoration: none;
}

.form-2 a:hover {
  background-color: rgb(9, 102, 58);
  transition: transform 5ms ease-in-out;
}

.a-homepage {
  text-decoration: none;
  padding: .5rem 1rem;
  width: max-content;
  color: whitesmoke;
  border: 1px solid white;
  background-color: transparent;
  font-size: 1.4rem;
  font-weight: 300;
  border-radius: 0.5rem;

}

.a-homepage:hover {
  background-color:rgb(9, 102, 58);
  transition:transform 5ms ease-in-out;
}



